.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.carditem {
  width: 400px;
  height: 99%;
  background-color: #eee;
  margin: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
